.bgcolor {
    background-color: #ff841d
}

.color {
    color: #fff
}

.h-color {
    color: #666
}

body,
a,
div,
span,
img,
h1,
h2,
h3,
h4,
h5,
ul,
li,
input,
button,
p {
    padding: 0;
    margin: 0
}

body {
    background-color: #fff
}

input {
    border: 0 none;
    outline: none;
    vertical-align: middle
}

img {
    vertical-align: middle
}

li {
    list-style: none
}

i,
em {
    font-style: normal
}

#header {
    padding: 10px 10px;
    width: 100%;
    height: 50px;
    background-color: #ff841d
}

#header>a img {
    height: 30px
}

#seach {
    position: relative;
    padding: 10px 12px;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #ddd
}

#seach>input {
    height: 30px;
    background-color: #f1f1f1;
    border-radius: 15px;
    border: 0 none;
    font-size: 14px
}

#seach>a {
    position: absolute;
    top: 10px;
    right: 12px;
    height: 30px;
    width: 70px;
    line-height: 30px;
    text-align: center;
    border-radius: 30px;
    font-size: 15px;
    background-color: #ff841d;
    color: #fff
}

#main {
    width: 100%;
    height: 1500px;
    background-color: #f00
}

#footer {
    width: 100%;
    height: 95px
}

#footer .f-top {
    text-align: center;
    height: 35px;
    line-height: 35px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd
}

#footer .f-top>a {
    font-size: 15px;
    color: #666
}

#footer .f-top .register {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd
}

#footer .f-botom {
    padding-top: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 16px
}

#footer .f-botom>span {
    color: #f00
}

#footer .f-botom>i {
    color: #666
}

body {
    background-color: #f1f1f1
}

#header {
    position: relative
}

#header>a {
    position: absolute;
    top: 15px;
    font-size: 20px;
    color: #fff
}

#header .left {
    left: 15px
}

#header .center {
    text-align: center;
    color: #fff
}

#header .right {
    right: 15px
}

#main {
    height: auto;
    background-color: #f1f1f1
}

#main a {
    text-decoration: none
}

#main .nav-bar {
    position: relative;
    font-size: 16px;
    height: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff
}

#main .nav-bar .nav {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center
}

#main .nav-bar .nav>ul {
    margin: 0;
    padding: 0;
    border: 0;
    min-width: 350%;
    top: 32px
}

#main .nav-bar .nav>ul>li {
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    font-size: 16px;
    border-bottom: 1px solid #ccc
}

#main .nav-bar .nav>ul>li>i {
    float: right;
    margin-top: 10px;
    margin-right: 5%;
    color: #ff841d;
    display: none
}

#main .nav-bar .nav>ul>.active>i {
    display: block
}

#main .nav-bar .nav .areas {
    left: -112px
}

#main .nav-bar .nav .prices {
    left: -224px
}

#main .nav-bar .search {
    text-align: center;
    -webkit-flex-basis: 40px;
    -ms-flex-preferred-size: 40px;
    flex-basis: 40px
}

#main .nav-bar .line {
    position: absolute;
    right: 40px;
    height: 100%;
    width: 1px;
    background-color: #ccc
}

#main .nav-bar .search-box {
    position: absolute;
    width: 100%;
    top: 40px;
    background-color: #f7f7f7;
    padding: 10px
}

#main .nav-bar .search-box .header {
    position: relative;
    margin-bottom: 20px
}

#main .nav-bar .search-box .header>input {
    width: 85%;
    height: 30px;
    padding-left: 30px
}

#main .nav-bar .search-box .header>input::-webkit-input-placeholder {
    color: #ff841d;
    font-size: 14px
}

#main .nav-bar .search-box .header>input::-moz-placeholder {
    color: #ff841d;
    font-size: 14px
}

#main .nav-bar .search-box .header>input:-ms-input-placeholder {
    color: #ff841d;
    font-size: 14px
}

#main .nav-bar .search-box .header>input::placeholder {
    color: #ff841d;
    font-size: 14px
}

#main .nav-bar .search-box .header>span {
    position: absolute;
    color: #ccc;
    top: 7px;
    left: 7px
}

#main .nav-bar .search-box .header>a {
    text-align: center;
    color: #333;
    margin-left: 10px
}

#main .nav-bar .search-box .rank .title {
    width: 100%;
    margin-bottom: 10px
}

#main .nav-bar .search-box .rank .item {
    float: left;
    width: 80px;
    height: 30px;
    border: 1px solid #000;
    border-radius: 4px;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    margin-right: 10px
}

#main .nav-bar .search-box .rank .item.active {
    background-color: #ff841d;
    border-color: #ff841d
}

#main .nav-bar .search-box .category .title {
    width: 100%;
    margin: 10px 0
}

#main .nav-bar .search-box .category>span {
    float: left;
    width: 80px;
    height: 30px;
    border: 1px solid #333;
    border-radius: 4px;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    margin-right: 10px;
    margin-bottom: 10px
}

#main .nav-bar .search-box .category>span.active {
    background-color: #ff841d;
    border-color: #ff841d
}

#main .nav-bar .search-box .category>span:nth-child(4n+1) {
    margin-right: 0
}

#main .products {
    width: 100%;
    margin: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -webkit-justify-content: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

#main .products .product-item {
    margin-top: 10px;
    width: 45%;
    height: 220px;
    background-color: #fff;
    box-shadow: 0 0 10px #ccc
}

#main .products .product-item>img {
    max-height: 160px;
    display: block;
    width: 100%
}

#main .products .product-item>p {
    overflow: hidden;
    color: #333;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 3px 10px
}

#main .products .product-item .price {
    color: #ff841d;
    padding: 0 10px
}

#main .products .product-item .price>span {
    font-size: 16px
}

#footer {
    margin-top: 30px;
    width: 100%
}

#footer .f-top {
    width: 100%;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    overflow: hidden;
    margin: 0
}

#footer .f-top>a {
    border-right: 1px solid #dedede
}

#footer .f-top>a:last-child {
    border-right: 0
}

#footer .f-top .register {
    border-right: 1px solid #dedede
}

#load {
    position: absolute;
    width: 100%;
    height: auto;
    padding-top: 100px;
    z-index: 998
}

.loadEffect {
    width: 100px;
    height: 100px;
    position: relative;
    margin: 0 auto;
    margin-top: 100px
}

.loadEffect span {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #ff841d;
    position: absolute;
    -webkit-animation: load 1.04s ease infinite
}

@-webkit-keyframes load {
    0% {
        opacity: 1
    }
    100% {
        opacity: .2
    }
}

.loadEffect span:nth-child(1) {
    left: 0;
    top: 50%;
    margin-top: -8px;
    -webkit-animation-delay: .13s
}

.loadEffect span:nth-child(2) {
    left: 14px;
    top: 14px;
    -webkit-animation-delay: .26s
}

.loadEffect span:nth-child(3) {
    left: 50%;
    top: 0;
    margin-left: -8px;
    -webkit-animation-delay: .39s
}

.loadEffect span:nth-child(4) {
    top: 14px;
    right: 14px;
    -webkit-animation-delay: .52s
}

.loadEffect span:nth-child(5) {
    right: 0;
    top: 50%;
    margin-top: -8px;
    -webkit-animation-delay: .65s
}

.loadEffect span:nth-child(6) {
    right: 14px;
    bottom: 14px;
    -webkit-animation-delay: .78s
}

.loadEffect span:nth-child(7) {
    bottom: 0;
    left: 50%;
    margin-left: -8px;
    -webkit-animation-delay: .91s
}

.loadEffect span:nth-child(8) {
    bottom: 14px;
    left: 14px;
    -webkit-animation-delay: 1.04s
}

object,
embed {
    -webkit-animation-duration: .001s;
    -webkit-animation-name: playerInserted;
    -ms-animation-duration: .001s;
    -ms-animation-name: playerInserted;
    -o-animation-duration: .001s;
    -o-animation-name: playerInserted;
    -webkit-animation-duration: .001s;
    animation-duration: .001s;
    -webkit-animation-name: playerInserted;
    animation-name: playerInserted
}

@-webkit-keyframes playerInserted {
    from {
        opacity: .99
    }
    to {
        opacity: 1
    }
}

@-ms-keyframes playerInserted {
    from {
        opacity: .99
    }
    to {
        opacity: 1
    }
}

@keyframes playerInserted {
    from {
        opacity: .99
    }
    to {
        opacity: 1
    }
}